@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url("hoverex-all.css") screen;

/*	################################################################
	0. COLOR SCHEME
################################################################# 
Color scheme:
Navbar background: 38228C (blue);
Navbar text: white;
navbar tab border (top and bottom):E38B42 (orange);
Navbar background hover: E38B42 (orange);

hline: 38228C;

headings level 1, 2: E38B42 (orange);
h3: 38228C;

*/

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */
:root {
    --primary: rgba(133, 20, 75, 1);
    --plight: rgba(133, 20, 75, 0.5);
    --plightest: rgba(133, 20, 75, 0.2);
    /*--scolor: #BAF73C;
    --slight: #f0ff73;*/
    --secondary: rgba(133, 196, 0, 1);
}

* { 
	margin: 0;
	padding: 0px;
}

html {
	scroll-behavior: smooth;
} 

body { 
	background: #fafafa;
	margin-top: 80px; 
	height: 100%; 
	color: #000;
	font-family: 'Catamaran', sans-serif;
	font-weight: 400;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lora', serif;
	font-weight: 700;
}

h1, .h1 {
  font-size: 44px;
}
h2, .h2 {
  font-size: 36px;
}
h3, .h3 {
  font-size: 28px;
}
h4, .h4 {
  font-size: 24px;
}
h5, .h5 {
  font-size: 20px;
}
h6, .h6 {
  font-size: 16px;
}

p { 
	padding: 0; 
	margin-bottom: 10px; 
	font-family: 'Catamaran', sans-serif;
	font-weight: 400;
	font-size: 18px; 
	line-height: 1.4;
	color: #000;
	margin-top: 10px; 
}

img {
	height: auto;
	max-width: 100%;
}

a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	color: var(--secondary);
	/*-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;*/
}

a:hover, a:focus {
  text-decoration: none;
 }

::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}

.centered {
	text-align: center !important;
}

.right {
	text-align: right !important;
}

.left {
	text-align: left !important;
}

.row {
	margin-top: 20px;
}

/*	################################################################
	BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.navbar {
	width: 100%;
	min-height: 80px;
	padding: 0px;
	margin-bottom: 0px;
}

.navbar-brand {
	margin-left: 2%;
	font-family: 'Catamaran', sans-serif;
	font-weight: 900;
	font-size: 40px;
	padding: 0px;
	display: inline;
}

#navbarResponsive {
	margin-right: 2%;
	margin-top: 5px;
}

.nav-link {
	text-transform: uppercase;
	font-weight: 800;
	margin: 0px 5px;
	padding: 10px 15px !important;
	font-size: 19px;
}

.bg-dark {
	background-color: var(--primary) !important;
}

.navbar-dark .navbar-nav >.nav-link,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
	color: white;
	opacity: 0.7;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
	color: white;
	/*border-radius: 100px;*/
	border-bottom: 3px solid white; 
	opacity: 1;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: var(--secondary);
	opacity: 0.9;
}

#navbarResponsive > ul > li.nav-item.active > a:focus,
#navbarResponsive > ul > li.nav-item.active > a:hover {
	color: white;
	opacity: 1;
}

.jumbotron {
	background-color: black;
	/*height: calc(100vh - 80px);*/
}

.jumbotron-fluid {
	padding: 0px;
	margin-bottom: 0px;
}

#home{
	padding: 0;
	margin: 0;
}

#jumbotron-text p{
	color: white;
	text-align: left;
}

#home img{
	max-height: calc(100vh - 80px);
	max-width: 100%;
	display: inline-block;
}

#herotext{
	margin:auto;
	color: white;
	display: inline-block;
}

#herotext h1{
	font-size: 80px;
}

#herotext h2{
	font-size: 32px;
}

.btn {
	margin: 20px;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.4;
	color: white;
	background-color: var(--primary);
	display: inline-block;
	border: none;
	/*border-radius: 20px;*/
	padding: 15px 30px;
	white-space: normal;
}

.btn:hover, .btn:focus {
	color: black;
	background-color: var(--secondary);
	/*border-radius: 50px;*/
}

#buttons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#page-title {
    padding: 5px 0px;
    margin: 80px 0px 50px 0px;
    font-size: 44px;
}

.card {
    overflow: hidden;
}

.card-img-top {
	padding-top: 15px;
	-webkit-transition: 0.7s ease;
	transition: 0.7s ease;
}

.card:hover .card-img-top{
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
	transform-origin: center bottom;
}

.card-body {
	border: 1.1px solid #b3b3b3;}

.card-title {
	font-size: 34px;
	color: black;
}

.card-text {
	font-size: 18px;
}

.tags {
	border-radius: 60px 15px 60px 60px;
	border: none;
	color: white;
	background-color: var(--primary);
	display: inline-block;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
	font-weight: 600;
	text-align: left;
	margin-right: 10px;
}

.mb {
	margin-bottom: 40px;
}

.mt {
	margin-top: 80px;
}

.hline {
	border-bottom: 3px solid var(--primary);
	padding-top: 0px;
}

.hline-w {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 25px;
}
/*	################################################################
	CUSTOM CSS
################################################################# */

/* Portfolio Wrap */
#portfoliowrap {
	display: block;
	text-align: center;
	margin-left:3%;
	margin-right: 3%;
	margin-top: 50px;
}

.portfolioitem {
	margin-bottom: 30px;
	color: black;
	background-color: var(--pcolor);
}

.portfolioitem:hover {
	background-color: var(--scolor);
}

.portfolioitem .subtitle {
	color: white;
	padding-bottom: 10px;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.4;
	margin-top: 10px;
}

.portfolioimg {
	width: auto;
	height: auto;
	background-color: var(--scolor);
}
.portfolioitem .text { 
  color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  visibility: hidden;
}

.portfolioitem:hover .text{
	visibility: visible;
}

.portfolioitem:hover img{
	transition: .5s ease;
	opacity: 0.05;
}

.portfolioitem h2 {
	color: white;
}

/* Footer */
.footer {
	height: 60px;
	width: 100%;
	margin: 0px;
	margin-top: 50px;
	padding: 15px 0px;
	background-color: #e0e0e0;
	position: relative;
	bottom: 0;
	left: 0;
}

.footer p, .footer a, .footer i {
	color: black;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	
}

.footer a:hover, .footer a:focus {
	text-decoration: underline;
}

.footer i {
	font-weight: 400;
	padding: 0px 3px;
}

#contact-footer {
	position: absolute;
	bottom: 0;
}

.contact {
	margin-top: 3%;
	margin-bottom: 3%;
	font-size: 30px;
	font-weight: 600;
}
.contact a{
	color: #000;
	font-weight: 600;
}
.contact a:hover, .contact a:focus {
	text-decoration: underline;
}

.social {
	margin-top: 3%;
	margin-bottom: 3%;
	font-size: 3em;
	line-height: 1.4;
	letter-spacing: 20px;
}

.social a{
	color: #000;
}

.aboutme{
	margin-top: 30px;
	/*text-align: justify;*/
}

.aboutme p{
	font-size: 18px;
	color: #000;
	font-weight: 400;
	margin-left: 30px;
	text-align: justify;
}

.projectcontent {
	text-align: justify;
}

.projectcontent ul>li{
	text-align: justify;
	line-height: 1.4;
	margin-left: 40px;
	font-size: 19px;
}

.projectcontent h2{
	margin-top: 20px;
	text-align: center;
}

.projectcontent h3 {
	margin-top: 20px;
	  color: var(--pcolor);
}

.textlink{
	 text-decoration: underline;
}

.textlink:hover, .textlink:focus{
	 color: var(--primary);
	 text-decoration: underline;
}

.quote {
	text-align: center;
	font-size: 18px;
}

.project-nav {
	margin-top: 100px;
}

.project-nav p {
	font-size: 30px;
	line-height: 1.4;
}

.interlinks {
	width: 100%;
	height: auto;
}

.projectimage-nohover {
    text-align: center;
    transition: 0.3s;
}

.projectimage {
    text-align: center;
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
    transition: 0.3s;
}

.projectimage:hover {
	opacity: 0.8;
}

.projectimage img{
	width: 98%;
	height: auto;
	/*max-height: 80vh;*/
}

.projectcontent .subtitle, .projectimage .subtitle {
	color: black;
	padding-bottom: 10px;
	font-size: 18px;
	line-height: 1.4;
	margin-top: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 87vw;
	max-height: 87vh;
}

/*#img01 {
	width: auto;
}
*/
/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 70px;
    right: 35px;
    /*color: #f1f1f1;*/
    color: #ffffff;
    font-size: 44px;
    font-weight: 300;
    transition: 0.3s;
    opacity: 0.7;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.recent-work .subtitle {
	font-size: 16px;
}

.recent-work h2 {
	font-size: 26px;
}

.projectheader h1 {
	text-align: center;
	/*padding: 5px 0px;*/
	margin: 120px 0px 0px 0px;
}

.interlinks .subtitle {
	font-size: 16px;
}

.interlinks h2 {
	font-size: 26px;
}

.customtable {
	font-size: 18px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 400;
	text-align: left;
}

.customtable th {
    border: 2px solid white !important;
    padding: 10px;
    background-color: var(--plight);
    color: white;
    font-size: 18px !important;
    line-height: 3;
  }

.customtable td {
	border: 2px solid white !important;
	padding: 10px;
	background-color: var(--plightest);
}

.customtable ul > li {
	font-size: 16px;
	margin-left: 20px;
	line-height: 1.4;
}

.filter-button {
	color: black;
	padding: 5px 15px;
	border-radius: 20px;
	border: none;
	background-color: var(--secondary);
	white-space: normal;
	width: auto;
	margin: 10px 15px;
	font-size: 20px;
	font-weight: 600;
}

.filter-button:hover {
	color: white;
	background-color: var(--pcolor);
}

.dot {
	font-size: 8px;
	color: var(--pcolor);
}

.videowrap {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.videowrap iframe {
	position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vcenter {
	vertical-align: middle;
}

.resume-logo {
	display: inline;
	height: 200px;
	padding: 30px 15px 0px 15px;

}

h1.resume {
	color: var(--pcolor);
	font-weight: 900;
	font-variant: small-caps;
	font-size: 80px;
	font-family: 'Catamaran', sans-serif;
	display: inline;
}

.resume_heading {
	color: var(--scolor);
	font-size: 27px;
	font-weight: 800;
	font-variant: small-caps;
	font-family: 'Catamaran', sans-serif;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: var(--primary);
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	color: var(--secondary);
}

h3.workex, h3.education, h3.projects {
	color: black;
	font-size: 26px;
	font-weight: 700;
	font-family: 'Catamaran', sans-serif;
}

h4.workex, h4.education, h4.projects {
	color: black;
	font-size: 26px;
	font-weight: 500;
	margin-top: 20px;
	font-family: 'Catamaran', sans-serif;
}

h5.workex, h5.projects, h5.education {
	color: black;
	font-size: 24px;
	font-weight: 500;
	margin-top: 0px;
	font-family: 'Catamaran', sans-serif;
}

h2.skills {
	color: var(--pcolor);
	font-size: 23px;
	font-weight: 800;
	font-variant: small-caps;
	font-family: 'Catamaran', sans-serif;
}

.unstyled_list {
	list-style-type: none;
	font-size: 22px;
	font-weight: 200;
	/*margin-top: 20px;*/
}

.sublist {
	font-weight: 200;
	font-size: 22px;
}

p.resume {
	font-size: 22px;
	font-weight: 300;
}

span.resume {
	font-weight: 400;
}

.styled_list {
	font-size: 22px;
	font-weight: 200;
	margin-left: 50px;
	margin-top: 10px;
}

.contact-listitem {
	font-size: 22px;
	font-weight: 200;
	line-height: 2;
	list-style-type: none;
}

.resume-contact {
	margin-top:30px;
}

.inline {
	display: inline-block;
	/*margin-top: 50px;*/
}

.indent {
	margin-left: 50px;
}

.hidden {
	display: none;
}

.resume-container {
	border: 1px solid black;
}

.gd-heading {
	color: black;
	font-size: 26px;
	font-weight: 700;
	font-family: 'Catamaran', sans-serif;
}

span.gd {
	/*color: red;*/
	font-weight: 500;
}

.gd-img {
	width: 95%;
	height: auto;
	padding: 15px 0px 15px 0px;
	/*overflow: hidden;*/
}
.gd-row {
	border: 1px solid black;
}

.text-link {
	color: var(--scolor);
}

.text-link:hover {
	color: var(--pcolor);
}

.imgcol {
	overflow: hidden;
	max-height: 600px;
}

.textcol {
	min-height: 600px;
	margin-bottom: 15px;
}

.gallery {
	background-color: red;
	height: 70vh;
	width: 100%
}

/************************************** media queries***************************************************************************/
@media screen and (max-width: 1200px) {
	#herotext h1 {
		font-size: 60px;
	}

	#herotext h2{
		font-size: 24px;
	}

}

@media screen and (max-width: 992px) {
	.jumbotron {
		min-height: 50vh;
	}

	#home img{
		display: none;
	}

	#herotext {
		position: absolute;
		top: calc(50vh - 80px);
		left: 50%;
		transform: translate( -50%, -50% );
	}

	#herotext h1, #herotext h2{
		color: white;
	}
	#herotext h1 {
		font-size: 50px;
	}

	#herotext h2{
		font-size: 20px;
	}
}

@media screen and (max-width: 768px) {
	#herotext h1 {
		font-size: 40px;
	}

	#herotext h2{
		font-size: 18px;
	}

	#page-title {
		font-size:36px;
	}

}

@media screen and (max-width: 426px) {
	#herotext h1 {
		font-size: 30px;
	}

	#herotext h2{
		font-size: 16px;
	}

	#page-title {
		font-size:28px;
	}
}